body{
    margin: 0;
    background-color: #F5F4F3;
}

h1{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3em;
    margin-bottom: 30px;
}

h2{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h3{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    margin-bottom: 16px;
}


p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #393939;
}

.p1{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    line-height: 140%;
    color: #393939b0;
}

a.button{
    background-color: #b50000;
    color: #f5f4f3;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 16px 30px;
    font-style: 600;
    font-size: 1em;
    cursor: pointer;
}


.semi-bold{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: #393939;
    text-decoration: none;
}

.semi-bold:hover{
    color: #b50000;
    cursor: pointer;
}

.logo{
    min-width: 50px;
    max-width: 180px;
    margin-right: 20px;
}

.header{
    padding: 20px 140px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.left-section{
    width: 20%;
    display: flex;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.hero-section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 80px;
    padding: 180px 140px 140px 140px;
}

.business-logo{
    margin: 20px 0 20px 0;
    background-color: white;
    border-radius: 16px;
    padding: 10%;
    box-shadow: 0 0 20px #00000010;
}

strong{
    font-weight: 500;
    color: black;
}

a.button:hover{
    background-color: #c51313;
}

a.button:active{
    background-color: #e03838;
}

.banner{
    background-color: #b50000;
    color: #f5f4f3;
    padding: 60px 140px;
}

footer{
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: space-between;    
    width: 20%;
}

